name: Run tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.11', '3.12', '3.13', '3.14']

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{matrix.python-version}}
      uses: actions/setup-python@v3
      with:
        python-version: ${{matrix.python-version}}

    - name: Update
      run: |
        sudo apt-get update
    - name: Install system build deps
      run: |
        sudo apt install libgirepository-2.0-dev gir1.2-gstreamer-1.0 libcairo2-dev gir1.2-gdkpixbuf-2.0
    - name: Install runtime tools
      run: |
        python -m pip install --upgrade pip
        pip install poetry
    - name: Setup poetry env
      run: |
        poetry install
    - name: Test with pytest
      run: |
        poetry run pytest
    - name: Test package build
      run: |
        SOURCE_DATE_EPOCH=$(git log -1 --pretty=%ct) \
        poetry build

  sonarqube:
    name: SonarQube
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@fd88b7d7ccbaefd23d8f36f73b59db7a3d246602 # v6.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
